{% extends 'base.html' %}
{% load static %}
{% block title %} Manage Customers {% endblock %}
{% block head %} {% include "partials/auth_head.html" %} {% endblock%}
{% block body %}
{% include "partials/preloader.html" %}
<div id="main-wrapper">
	{% include "partials/login_nav.html" %}
    {% include "partials/sidebar.html" %}
	<div class="content-body">
		<div class="row page-titles mx-0">
			<div class="col p-md-0">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active"><a href="{% url 'auth:manage_customer' %}">All Administrator</a></li>
				</ol>
			</div>
		</div>

		<div class="container-fluid">
			{% include "partials/messages.html" %}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Manage Administrator</h4>
							{% if object_list %}
							<div class="table-responsive">
								<table class="table table-sm table-striped table-bordered table-hover text-center zero-configuration">
									<thead>
										<tr>
											<th>S/N</th>
											<th>Picture</th>
											<th>FullName</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for admin in object_list  %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>
												<a href="{% url 'auth:profile' admin.id %}">
													<img src="{{ admin.imageURL }}" width="40" class=" rounded-circle mr-3" alt=""></td>
												</a>
											<td>{{ admin.fullname }}</td>
											<td>{{ admin.email }}</td>
											<td>{{ admin.phone }}</td>
											<td>
												<a href="" class="fa fa-trash btn-sm btn btn-outline-danger" data-toggle="modal" data-target="#admin{{ admin.id }}"> Delete</a>
												<div class="modal fade" id="admin{{ admin.id }}" style="display: none;" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title">Are you sure?</h5>
																<button type="button" class="close" data-dismiss="modal"><span>×</span>
																</button>
															</div>
															<div class="modal-body">Clicking the "delete" button below would delete the administrator permanently.</div>
															<div class="modal-footer">
																<form action="{% url 'auth:delete_admin' admin.id %}" method="POST">
																	{% csrf_token %}
																	<button type="submit" class="btn btn-warning ">Delete</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							{% else %}
							<div class="card text-center">
								<div class="card-body">
									<h5 class="card-title">No Administrator!</h5>
									<p class="card-text">No record found kindly add Administrator with the button below.</p><a href="{% url 'auth:add_customer' %}" class="btn btn-primary">Add Admin/a>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "partials/login_footer.html" %}
</div>
{% include "partials/auth_script.html" %}
{% endblock %}