{% extends 'base.html' %}
{% load static %}
{% block title %} Order Details {% endblock %}
{% block head %} {% include "partials/auth_head.html" %} {% endblock%}
{% block body %}
{% include "partials/preloader.html" %}
<div id="main-wrapper">
	{% include "partials/login_nav.html" %}
    {% include "partials/sidebar.html" %}
	<div class="content-body">
		<div class="row page-titles mx-0">
			<div class="col p-md-0">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active"><a href="{% url 'auth:my_orders' %}"> My orders</a></li>
				</ol>
			</div>
		</div>

		<div class="container-fluid">
			{% include "partials/messages.html" %}
			<div class="row">
				<div class="col-lg-7 mx-auto">
					<div class="card">
						<div class="card-body">
							<h4 class="card-header">{{ object.user.fullname }} purchase details
								{% if request.user.is_superuser %}
								<a href="" class="btn btn-success float-right mb-2">confirm Delivery</a>
								{% endif %}
							</h4>
							<hr>
							{% if  object.delivered  %}
							<p class="text-center text-success"> Delivered Sucessfully
								{% else %}
							<p class="text-center text-warning"> Pending Delivery
							{% endif %}
							</p>
							<hr>
							{% for item in object.product.all  %}
							<div class="media align-items-center mb-4">
								<img class="mr-3" src="{{ item.product.image.url }}" width="100" height="100" alt="Profile">

								<div class="media-body">
									<h3 class="mb-0">{{ item.product.title }}</h3>
									<p class="text-muted mb-0"> Product </p>
								</div>
							</div>

							<div class="row mb-2">
								<div class="col">
									<div class="card card-profile text-center">
										<span class="mb-1 text-primary"><i class="fa fa-money"></i></span>
										<h3 class="mb-0">₦{{ item.product.price }}</h3>
										<p class="text-muted px-4">Price</p>
									</div>
								</div>
								<div class="col">
									<div class="card card-profile text-center">
										<span class="mb-1 text-warning"><i class="fa fa-sort-amount-desc"></i></span>
										<h3 class="mb-0">{{ item.quantity }}</h3>
										<p class="text-muted">Quantity Purchased</p>
									</div>
								</div>
							</div>
							<h4>Description</h4>
							<p> {{ item.product.description }} </p>
							</ul>
							<hr>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "partials/login_footer.html" %}
</div>
{% include "partials/auth_script.html" %}
{% endblock %}