{% extends 'base.html' %}
{% load static %}
{% block title %} Profile{% endblock %}
{% block head %} {% include "partials/auth_head.html" %} {% endblock%}
{% block body %}
{% include "partials/preloader.html" %}
<div id="main-wrapper">
	{% include "partials/login_nav.html" %}
    {% include "partials/sidebar.html" %}
	<div class="content-body">
		<div class="row page-titles mx-0">
			<div class="col p-md-0">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active"><a href="{% url 'auth:profile' user.id %}">Profile</a></li>
				</ol>
			</div>
		</div>

		<div class="container-fluid">
			{% include "partials/messages.html" %}
			<div class="row">
				<div class="col-lg-7 col-xl-7">
					<div class="card">
						<div class="card-body">
							<div class="media align-items-center mb-4">
								<img class="mr-3" src="{% if user.imageURL != '' %} {{ user.imageURL }} {% else %} {% static 'uploaded/user.png' %} {% endif %}" width="80" height="80" alt="Profile">

								<div class="media-body">
									<h3 class="mb-0">{{ user.fullname }}</h3>
									<p class="text-muted mb-0"> {% if user.is_staff %} Admin {% else %} Customer {% endif %} </p>
								</div>
							</div>

							<div class="row mb-5">
								<div class="col">
									<div class="card card-profile text-center">
										<span class="mb-1 text-primary"><i class="fa fa-heart"></i></span>
										<h3 class="mb-0">263</h3>
										<p class="text-muted px-4">Orders</p>
									</div>
								</div>
								<div class="col">
									<div class="card card-profile text-center">
										<span class="mb-1 text-warning"><i class="fa fa-shopping-cart"></i></span>
										<h3 class="mb-0">263</h3>
										<p class="text-muted">Cart</p>
									</div>
								</div>
							</div>

							<h4>More Details</h4>
							<ul class="card-profile__info">
								<li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span>{{ user.phone }}</span></li>
								<li><strong class="text-dark mr-4">Email</strong> <span>{{ user.email }}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-xl-5">
					<div class="card">
						<div class="card-header d-flex align-items-center justify-content-between">
							<h5 class="mb-0">Edit profile</h5>
							<small class="text-muted float-end">profile</small>
						  </div>
						<div class="card-body">
							<form method="post" class="form-profile" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row mb-3">
									<div class="col-12"> {{ form.fullname }} </div>
									{% if form.fullname.errors %}
									<div class="alert alert-danger mt-2" role="alert">
									{{ form.fullname.errors }}
									</div>
									{% endif %}
								</div>
								<div class="row mb-3">
									<div class="col-12"> {{ form.email }} </div>
									{% if form.email.errors %}
									<div class="alert alert-danger mt-2" role="alert">
									{{ form.email.errors }}
									</div>
									{% endif %}
								</div>
								<div class="row mb-3">
									<div class="col-12"> {{ form.phone }} </div>
									{% if form.phone.errors %}
									<div class="alert alert-danger mt-2" role="alert">
									{{ form.phone.errors }}
									</div>
									{% endif %}
								</div>
								<div class="row mb-3">
									<label class="col-12 col-form-label" for="basic-icon-default-fullname">Picture (Optional)</label>
									<div class="col-12"> {{ form.picture }} </div>
									{% if form.picture.errors %}
									<div class="alert alert-danger mt-2" role="alert">
									{{ form.picture.errors }}
									</div>
									{% endif %}
									<label class="col-12 col-form-label" for="basic-icon-default-email">Currently:
									{% if user.imageURL != '' %}
									<a href="{{ user.imageURL }}" target="_blank" rel="noopener noreferrer">{{ user.imageURL}}</a>
									{% endif %}
									</label>
								</div>
								<button class="btn btn-outline-success btn-block" name="profile" type="submit">Update Profile</button>
							</form>
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header d-flex align-items-center justify-content-between">
						  <h4 class="mb-0">Change password</h4>
						  <small class="text-muted float-end">password</small>
						</div>
						<div class="card-body">
						  <form method="post">
							{% csrf_token %}
							<div class="row mb-3">
							  <label class="col-12 col-form-label" for="basic-icon-default-fullname">Password</label>
							  <div class="col-12">
								<input class="form-control" type="password" name="password1">
							  </div>
							</div>
							<div class="row mb-3">
							  <label class="col-12 col-form-label" for="basic-icon-default-company">Re-Enter Password</label>
							  <div class="col-12">
								<input class="form-control" type="password" name="password2">
							  </div>
							</div>
							<button class="btn btn-outline-success btn-block" type="submit" name="password">Update Password</button>
						  </form>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	{% include "partials/login_footer.html" %}
</div>
{% include "partials/auth_script.html" %}
{% endblock %}