{% extends 'base.html' %}
{% load static %}
{% block title %} Order Summary{% endblock %}
{% block head %}
	{% include 'partials/head.html' %}
{% endblock %}
{% block body %}
<div class="hero_area">
   <!-- header section -->
   {% include "partials/nav.html" %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>
                        Order Summary
                     </h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- product section -->
      <section class="product_section mt-3">
         <div class="container">
            {% include "partials/messages.html" %}
            <div class="row">
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">My Orders</h4>
                        {% if orders %}
                        {% include "partials/summary.html" %}
                        {% else %}
                        <div class="card text-center">
                           <div class="card-body">
                              <h5 class="card-title">No item!</h5>
                              <p class="card-text">No item in your cart kindly place an order.</p><a href="{% url 'basics:product' %}" class="btn btn-primary">Place Order</a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
<!-- end product section -->
{% include "partials/footer.html" %}
<!-- footer end -->
{% include "partials/script.html" %}
{% endblock %}