{% extends 'base.html' %}
{% load static %}
{% block title %} Products{% endblock %}
{% block head %}
	{% include 'partials/head.html' %}
{% endblock %}
{% block body %}
<div class="hero_area">
   <!-- header section -->
   {% include "partials/nav.html" %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>
                        Our <span>products</span>
                     </h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            {% include "partials/messages.html" %}
            <div class="row">
               {% include "partials/basic_products.html" %}
            </div>
         </div>
      </section>
<!-- end product section -->
{% include "partials/footer.html" %}
<!-- footer end -->
{% include "partials/script.html" %}
{% endblock %}