{% load static %}
<script src="{% static 'auth/plugins/common/common.min.js' %}"></script>
<script src="{% static 'auth/js/custom.min.js' %}"></script>
<script src="{% static 'auth/js/settings.js' %}"></script>
<script src="{% static 'auth/js/gleek.js' %}"></script>
<script src="{% static 'auth/js/styleSwitcher.js' %}"></script>
<script src="{% static 'auth/plugins/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'auth/plugins/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'auth/plugins/d3v3/index.js' %}"></script>
<script src="{% static 'auth/plugins/topojson/topojson.min.js' %}"></script>
<script src="{% static 'auth/plugins/datamaps/datamaps.world.min.js' %}"></script>
<script src="{% static 'auth/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'auth/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'auth/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'auth/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
<script src="{% static 'auth/plugins/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'auth/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'auth/js/dashboard/dashboard-1.js' %}"></script>
<script src="{% static 'js/close.js' %}"></script>
