{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
<!-- Chartist -->
<link rel="stylesheet" href="{% static 'auth/plugins/chartist/css/chartist.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
<!-- Custom Stylesheet -->
<link href="{% static 'auth/css/style.css' %}" rel="stylesheet">