{% load static %}
<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                   <a href="#"><img width="210" src="{% static 'images/logo.png' %}" alt="#" /></a>
                 </div>
                 <div class="information_f">
                   <p><strong>ADDRESS:</strong> No. 1-4 Jema'a road by junction road kaduna</p>
                   <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                   <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
                 </div>
              </div>
          </div>
          <div class="col-md-8">
             <div class="row">
             <div class="col-md-7">
                <div class="row">
                   <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Menu</h3>
                   <ul>
                      <li><a href="{% url 'basics:home' %}">Home</a></li>
                      <li><a href="{% url 'basics:about' %}">About</a></li>
                      <li><a href="{% url 'basics:product' %}">Products</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Account</h3>
                   <ul>
                      <li><a href="{% url 'auth:login' %}">Login</a></li>
                      <li><a href="{% url 'auth:register' %}">Register</a></li>
                   </ul>
                </div>
             </div>
                </div>
             </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <div class="cpy_">
    <p class="mx-auto">© 2022 All Rights Reserved By <b>the-impossible</b></p>
 </div>