{% load static %}
<div class="nav-header">
    <div class="brand-logo">
        <a href="{% url 'basics:home' %}">
            <b class="logo-abbr"><img src="{% static 'images/logoo.png' %}" alt=""> </b>
            <span class="logo-compact"><img src="{% static 'images/logoo.png' %}" alt=""></span>
            <span class="brand-title">
                <img src="{% static 'images/logo1.png' %}" style="width:60%" alt="">
            </span>
        </a>
    </div>
</div>

<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <form action="{% url 'basics:search' %}" method="get" id="search">
                    <input type="search" name="qs" id="qs" class="form-control" placeholder="Search Product" aria-label="Search Dashboard">
                </form>
                <script>
                    document.getElementById("qs").addEventListener("keydown", (e) => {
                        if(e.key == "Enter"){
                            e.preventDefault();
                            document.getElementById('search').submit();
                        }
                    })
                </script>
            </div>
        </div>

        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown"><a href="{% url 'auth:order_summary' %}" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="badge badge-pill gradient-1">

                        {% if order_quantity %}
                        {{ order_quantity }}
                        {% else %}
                        0
                        {% endif %}
                    </span>
                    </a>
                    <div class="drop-down animated fadeIn dropdown-menu">
                        <div class="dropdown-content-heading d-flex justify-content-between">
                            <span class="">{{ order_quantity }} Items in the cart</span>
                            <a href="javascript:void()" class="d-inline-block">
                                <span class="badge badge-pill gradient-1">{{ order_quantity }}</span>
                            </a>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                {% for order_item in order.product.all|slice:":3"  %}
                                <li class="notification-unread">
                                    <a href="{% url 'auth:order_summary' %}">
                                        <img class="float-left mr-3 avatar-img" src="{{ order_item.product.image.url }}" alt="">
                                        <div class="notification-content">
                                            <div class="notification-heading">{{ order_item.product.title }}</div>
                                            <div class="notification-timestamp">Quantity: <b>{{ order_item.quantity }}</b></div>
                                            <div class="notification-text">Price: <b>₦{{ order_item.product.price }}</b></div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>

                        </div>
                    </div>
                </li>
                <li class="icons dropdown d-none d-md-flex">

                </li>
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="{% if request.user.imageURL != '' %} {{ request.user.imageURL }} {% else %} {% static 'uploaded/user.png' %} {% endif %}" width="40" height="40" alt="Profile">
                    </div>
                    <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="{% url 'auth:profile' request.user.id %}"><i class="icon-user"></i> <span>Profile</span></a>
                                </li>
                                <hr class="my-2">
                                <li><a style="cursor: pointer;" data-toggle="modal" data-target="#basicModal"><i class="icon-key" ></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ready to Leave?</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span>
                </button>
            </div>
            <div class="modal-body">Select "Log Out" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'auth:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-block">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>