{% load static %}
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">
                <a class="nav-text" href="{% url 'auth:dashboard' %}" aria-expanded="false">Dashboard</a>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Customer</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Create Customer Account</a></li>
                    <li><a href="#">Manage Customer Account</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Admin</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Create Admin Account</a></li>
                    <li><a href="#">Manage Admin Account</a></li>
                </ul>
            </li>
            <li class="nav-label">Products</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Product</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./email-inbox.html">Available Products</a></li>
                    <li><a href="./email-read.html">Add Product</a></li>
                    <li><a href="./email-compose.html">Manage Products</a></li>
                </ul>
            </li>
            <li class="nav-label">Orders</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Orders</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Delivered</a></li>
                </ul>
            </li>
            <li>
                <a style="cursor: pointer;" href="{% url 'auth:profile' request.user.id %}" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" data-toggle="modal" data-target="#basicModal" aria-expanded="false">
                    <i class="icon-key menu-icon"></i><span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>